@font-face {
    font-family: 'TT Norms';
    src: url('./blocks/_common/fonts/TTNorms-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
  }
@font-face {
    font-family: 'TT Norms';
    src: url('./blocks/_common/fonts/TTNorms-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}