.device-info {
    padding: 20px 18px;    
    background: #F7F7F7;
    border-radius: 5px;
    font-family: "TT Norms", sans-serif;
    font-size: 14px;       
    font-weight: 500;  
    line-height: 1.2;
    &__item {
        margin-bottom: 6px;
    }
    &__name {       
        color: #8C8C8C;
        margin-right: 4px;
    }
    &__content {    
        color: #353535;
        &_link {
            text-decoration: none;
            color:  #4990E2;
        }
    }
}