.grid {    
    width: 100%;
    max-width: 930px;
    margin: 30px auto;
    padding: 0 15px;
    box-sizing: border-box;
    
    &__item {
        margin-bottom: 40px;
        overflow-x: auto;            
    }
    
}
    
