.filter {
    width: 100%;
    display: grid;
    grid-template-columns: 32% 61.1%;    
    grid-template-rows: 35% 45% 20%;    
    grid-column-gap: 6.9%;  
    grid-template-areas: 
      "name info"
      "form info"
      "btn info"; 

    font-family: "TT Norms", sans-serif;

    @media (max-width: 850px) {
        display: block;        
    }

    &__header {
        grid-area: name;
        display: flex;
        justify-content: space-between;

        @media (max-width: 850px) {
            justify-content: flex-start;            
            align-items: center;    
            padding-bottom: 20px;   
        }
    }

    &__name {  
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #353535;
    }

    &__img {
        width: 40px;
        height: 40px;
        display: block;
        margin-right: 20px;
        margin-top: 5px;        
    }

    &__info {
        grid-area: info;

        @media (max-width: 850px) {
            margin-bottom: 20px;  
        }
    }

    &__form{
        grid-area: form;
        display: flex;
        flex-direction: column;
    }

    &__dropdown {
        width: 76%;
        margin-bottom: 10px;    
    }
// Form with radio buttons
    &__radio { 
        margin: 20px 0;
    }
// Radio button + label
    &__radio-item {
        margin-bottom: 10px;
    }
// New radio button (hide old one and but new on it's place)
    &__radiobtn {
        &:checked,
        &:not(:checked) {
            position: absolute;
            left: -9999px;
        }

        &:checked + .filter__label,
        &:not(:checked) + label {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
        }

        &:checked + .filter__label:before,
        &:not(:checked) + .filter__label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 2px solid #C1C1C1;
            border-radius: 100%;
            background: #FFFFFF;
        }

        &:checked + .filter__label:after,
        &:not(:checked) + .filter__label:after {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            top: 4px;
            left: 4px;
            
            background: #4990E2;
            border-radius: 100%;
            transition: all 0.2s ease;
        }

        &:not(:checked) + .filter__label:after {
            opacity: 0;
            transform: scale(0);
        }

        &:checked + .filter__label:after {
            opacity: 1;
            transform: scale(1);
        }
    }
    // Container for Submit btn
    &__submit {
        grid-area: btn;
        display: flex;
        align-items: flex-end;
    }
    // Submit btn
    &__btn {
        align-self: flex-end;       
        width: 180px;
        height: 40px;

        font-family: "TT Norms", sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;

        background: #4990E2;
        border: 0;
        border-radius: 3px;
    }
}