.search-form {
    width: 100%;
    max-width: 320px;
    padding: 10px 0;
    margin-bottom: 20px;

    &__item {        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__label {
        display: block;
        margin-bottom: 16px;

        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #8C8C8C;
    }

    &__textbox {
        height: 30px;
        width: 65.5%;
        max-width:  210px;
        padding: 0 12px;
        
        font-size: 14px;
        font-weight: 400;
        color: #353535;

        border: 1px solid #E9E9E9;
    }

    &__btn {
        height: 40px;
        width: 28.1%;
        max-width: 90px;        
// font-weight really is 500 
        font-weight: bold;
        font-size: 14px;
        color: #FFFFFF;
        background-color: #444651;

        border: 0;        
        border-radius: 3px;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
}